POSTGRES_USER=psqluser
POSTGRES_PASSWORD=changeme
POSTGRES_DB=postgres

MINIO_ROOT_USER=miniouser
MINIO_ROOT_PASSWORD=changeme
MINIO_ENDPOINT=http://minio:9000

GIBS_DEFAULT_TIME="2026-06-06"

API_PORT=8000
